// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #639112;

$presenter-color: rgba(255, 255, 255, 0.7);
$title-color: rgba(255, 255, 255, 0.7);
$date-color: rgba(255, 255, 255, .7);

// ----------------------------------------------------------------------------
// Widget-bof styles
// ----------------------------------------------------------------------------
.widget-bof {

  background-color: $background-color;

  .presenter {
    color: $presenter-color;
    font-size: 40px;
    font-style: bold;
  }

  .title {
    color: $title-color;
  }

  .date {
    color: $date-color;
    float: right;
    font-style: italic;
  }

  // .bof-container {
  //   display: none;
  // }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }
}
