<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":2},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1}]')
});
</script>

<% content_for :title do %>Here Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="nominator" data-view="Nominator"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-title="Agile Quote of the Day" style="background-color: #71388a"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="counter" data-view="List" data-unordered="true" data-title="Top nominations" data-moreinfo="# of nominations"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bof" data-view="Text" data-title="Next Activity" data-text="BoF -- See Scott to sign up!" data-moreinfo="TBD"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="company_morale" data-view="Hotness" data-title="Company Morale" data-min="0" data-max="10" data-warm="7.5" data-cool="4.5"></div>
    </li>
  </ul>
</div>