<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":2},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1}]')
});
</script>

<% content_for :title do %>Here Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="nominator" data-view="Nominator"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-title="Agile Quote of the Day" style="background-color: #71388a"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="counter" data-view="List" data-unordered="true" data-title="Top number of recognitions" data-moreinfo="# of times recognized"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bof" data-view="Text" data-title="Next Activity" data-text="BoF -- Game Day!" data-textbody="5/18" data-moreinfo="5/18"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="agile_principles" data-view="Text" data-title="Agile Values" data-text="" data-textbody="" data-moreinfo="" ></div>
    </li>
  </ul>
</div>